.row
  .span12
    .tabbable
      ul.nav.nav-tabs(id='menuId')
        li.active
          a(href="#tab0") Prix-fix
        li
          a(href="#tab1") Most Popular
        li
          a(href="#tab3") Personalized
    .tab-content
