.row
  .span12
    .tabbable
      ul.nav.nav-tabs(id='menuId')
        li.active
          a(href="#tab0", data-toggle='tab') Prix-fix
        li
          a(href="#tab1", data-toggle='tab') Most Popular
        li
          a(href="#tab2", data-toggle='tab') Personalized
    .tab-content
