footer
  div.container
    hr
    div.page-footer
      p &copy;#{title} 2012
      p
        | Icons from
        a(href="http://glyphicons.com") Glyphicons Free
        | , licensed under 
        a(href="http://creativecommons.org/licenses/by/3.0/") CC BY 3.0
        | .
      P
        a(href="http://locu.com")
          img(height="25", width="155", src="http://locu.com/static/images/dev/poweredby-gray@2x.png", alt="Powered by Locu")

