footer
  div.container
    hr
    div.page-footer
      p &copy;#{title} 2012
      p
        | Icons from
        a(href="http://glyphicons.com") Glyphicons Free
        | , licensed under 
        a(href="http://creativecommons.org/licenses/by/3.0/") CC BY 3.0
        | .

